.Content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #ddd;
  padding: 30px;
}
.Content > * {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.Content:has(.UsuarioInfo) {
  display: block;
}
.Content:has(.calculator) {
  align-items: center;
}


.Content :nth-child(n+3) h3{
  margin-top: 50px;
}
