.Menu {
  display: flex;
  flex-basis: 250px;

  background: linear-gradient(to top, #00b4db, #006c90);

  z-index: 1;
  -webkit-box-shadow: 4px 0px 17px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 0px 17px -5px rgba(0,0,0,0.75);
  box-shadow: 4px 0px 17px -5px rgba(0,0,0,0.75);
}

.Menu nav {
  flex: 1;
}
.Menu ul {
  list-style: none;
  padding: 0;
}

.Menu li {
  display: flex;
}

.Menu li.hooks {
  display: flex;
  flex-direction: column;
}

@keyframes showHooksMenu {
  from {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  to {
    max-height: 400px;
    opacity: 1;
    overflow: hidden;
  }
}

@keyframes hiddenHooksMenu {
  from {
    max-height: 400px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.showModuleMenu {
  animation: showHooksMenu 0.5s ease-in-out 1  forwards ;
}

.hiddenModuleMenu {
  animation: hiddenHooksMenu 0.5s ease-in-out 1  forwards ;
}


.Menu li.hooks ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: nowrap;
}
/*
.Menu li.hooks ul.open {
  height: auto;
}*/

.Menu li.hooks ul li a{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 5px;
}
.Menu li.hooks ul li:last-child{
  margin-bottom: 20px;
}
/*
.Menu li.hooks ul li:first-child{
  margin-top: -20px;
} */

.Menu li.hooks h3 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 10px;
  cursor: pointer;
}

.Menu li.hooks h3:hover {
  background: #00000020;
}

.Menu li > a {
  flex: 1;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 10px;
}

.Menu li a:hover {
  background: #00000020;
}
